<!-- Google site verification -->
<meta name="google-site-verification"
      content="KITTq3nF3AkQwJvJbhEA7BUF6WVsjQ759oea" />

<!-- ProfilePage structured data -->
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"ProfilePage",
  "name":"Thomas Houlden",
  "url":"https://thomas-houlden.com",
  "headline":"Incoming PhD Student in Economics at Columbia University",
  "sameAs":[
    "https://www.linkedin.com/in/thomas-houlden/",
    "https://twitter.com/tomhoulden"
  ]
}
</script>
